<div class="col-md-6 mb-4">
    <div class="card h-100 shadow-sm">
        <!-- Ajout image associee a l evenement -->
        <!-- Si l evenement contient des photos -->
        {% if event.picture %}
        <!-- On affiche la premiere photo -->
        <div class="col mt-2">
            <img src="{{ vich_uploader_asset(event.picture, 'imageFile') | imagine_filter('thumb')}}"
                alt="image de l'événement" class="card-img-top img-fluid rounded mx-auto d-block">
        </div>
        {% else %}
        <!-- Sinon on affiche une image par defaut -->
        <div class="col mt-2">
            <img src="{{ asset('build/images/default/empty_picture.jpg') | imagine_filter('thumb')}}"
                alt="Aucune image associée" class="card-img-top img-fluid rounded mx-auto d-block">
        </div>
        {% endif %}
        <!-- ./Ajout image associee a l evenement -->

        <div class="card-body">
            <h6 class="card-title text-center">{{ 'events.date.from' | trans }}
                <b>
                    {{ event.startDateEvent|localizeddate('long', 'short') }}</b>
                {{ 'events.date.to' | trans }}
                <b>
                    {{ event.endDateEvent|localizeddate('long', 'short') }}</b>
            </h6>
            <hr>
            <h2 class="card-title">{{ event.title }}</h2>
            <p class="card-text">{{ event.description }}</p>
            <p>
                <a class="btn btn-secondary" href="{{ path('events.show', {id: event.idEvent, slug: event.slug }) }}"
                    role="button">{{ 'events.see_button' | trans }} &raquo;</a>
            </p>
        </div>
    </div>
</div>