{% extends 'base.html.twig' %}

{% block title %}{{ 'title_page.showEvent_page' | trans ({}, 'navigation') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('carousel') }}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center display-2">{{myEvent.gettitle}}</h1>
    <h5 class="card-title text-center mt-5">{{ 'events.date.from' | trans }}
        <b class="text-muted">
            {{ myEvent.startDateEvent|localizeddate('long', 'short') }}</b>
        {{ 'events.date.to' | trans }}
        <b class="text-muted">
            {{ myEvent.endDateEvent|localizeddate('long', 'short') }}</b>
    </h5>
    <br>

    <div class="row justify-content-center">

        <!-- afficher les images -->
        <div class="col-md-8">

            <!-- si la collection d images est  vide -->
            {% if myEvent.pictures is empty %}
            <!-- on affiche une image par defaut -->
            <div class="col mt-5">
                <img src="{{ asset('build/images/default/empty_picture.jpg') }}" alt="Aucune image associée"
                     class="card-img-top img-fluid rounded mx-auto d-block">
            </div>
            <!-- sinon -->
            {% else %}

            <!-- slick-carousel -->
            <div class="slider-for">
                <!-- on itere la liste des images pour les recuperer dans la fenetre principal du carousel-->
                {% for picture in myEvent.pictures %}
                <div>
                    <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="image de l'événement"
                         class="card-img-top img-fluid rounded mx-auto d-block">
                </div>
                {% endfor %}
            </div>
            <!-- ./slick-carousel -->

            <!-- slick-carousel navigation -->
            <div class="slider-nav my-2">
                <!-- on itere la liste des images pour les recuperer dans la barre de navigation du carousel-->
                {% for picture in myEvent.pictures %}
                <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="image de l'événement"
                     class="card-img-top img-fluid rounded mx-auto d-block">
                {% endfor %}
            </div>
            <!-- ./slick-carousel  navigation -->
            {% endif %}
        </div>
        <!-- ./afficher les images -->

        <!-- div pour le texte -->
        <div class="col-8">
            <p class="p-4">{{ myEvent.body | nl2br }}</p>
        </div>
        <!-- ./div pour le texte -->

        <!-- affichage de la carte qui localise l evenement -->
        <div id="eventMap" style="width: 75%; height: 400px" data-lat="{{ myEvent.lat }}" data-lng="{{ myEvent.lng }}">
        </div>
        <!-- ./affichage de la carte qui localise l evenement -->

    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
    {{ encore_entry_script_tags('carousel') }}
{% endblock %}