<!-- Change the navbar color if connected as admin -->
{% if is_granted('ROLE_ADMIN') %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary shadow">
    {% else %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow">
        {% endif %}
        <!-- ./Change the navbar color if connected as admin -->

        <!-- icone/logo navbar -->
        <a class="navbar-brand" href="{{ path('home') }}">{{ 'navbar.brand' | trans ({}, 'navigation') }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- ./icone/logo navbar -->

        <!-- navbar links-->
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                {% block header_navigation_links %}
                <li class="nav-item {% if  current_menu is defined and current_menu == 'home' %}active{% endif %}">
                    <a class="nav-link"
                        href="{{ path('home') }}">{{ 'navbar.link.home' | trans ({}, 'navigation') }}</a>
                </li>
                <li class="nav-item {% if  current_menu is defined and current_menu == 'history' %}active{% endif %}">
                    <a class="nav-link"
                        href="{{ path('history') }}">{{ 'navbar.link.history' | trans ({}, 'navigation') }}</a>
                </li>
                <li
                    class="nav-item {% if  current_menu is defined and current_menu == 'eventsList' %}active{% endif %}">
                    <a class="nav-link"
                        href="{{ path('events.list') }}">{{ 'navbar.link.events' | trans ({}, 'navigation') }}</a>
                </li>
                <li class="nav-item {% if  current_menu is defined and current_menu == 'find-us' %}active{% endif %}">
                    <a class="nav-link"
                        href="{{ path('find-us') }}">{{ 'navbar.link.findus' | trans ({}, 'navigation') }}</a>
                </li>
                <li class="nav-item {% if  current_menu is defined and current_menu == 'contact' %}active{% endif %}">
                    <a class="nav-link"
                        href="{{ path('contact') }}">{{ 'navbar.link.contact' | trans ({}, 'navigation') }}</a>
                </li>
                <!-- show the admin page if  connected as admin-->
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item {% if  current_menu is defined and current_menu == 'admin' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('admin.event.index') }}">admin</a>
                </li>
                {% endif %}
            </ul>
            <!-- ./navbar links-->

            <!-- logout link that appears when a user or admin is logged in -->
            {% if app.user %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ path('logout') }}" class="nav-link">Sign out</a>
                </li>
            </ul>
            {% endif %}
            <!-- ./logout link that appears when a user or admin is logged in -->
            {% endblock %}

            <!-- link to change language -->
            <div class="navbar-nav">
                <!-- recupere le nom de la route -->
                {% set route = app.request.attributes.get('_route') %}
                <!-- recupere les parametres de la route {slug} et {id} -->
                {% set route_params = app.request.attributes.get('_route_params') %}
                {% set params = route_params|merge(app.request.query.all) %}
                <!-- recupere la variale locale en actuelle -->
                {% set currentLocale = app.request.locale %}
                <!-- boucle pour recuperer les flags de lipis-flag-icon correspondants aux locales autorisees -->
                {% for locale in locales%}
                {% if locale != currentLocale %}
                <a class="dropdown-item" href="{{ path(route, params|merge({ _locale: locale })) }}">
                    <span
                        class="flag-icon flag-icon-{% if  locale == 'en' %}gb{% else %}{{ locale }}{% endif %} flag-icon-squared"></span>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <!-- ./link to change language -->

            <!-- search area form -->
            <form class="form-inline my-2 my-lg-0">
                <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search..." type="search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <!-- ./search area form -->

        </div>
    </nav>