{% extends 'base.html.twig' %}

{% block title %}{{ 'title_page.homepage_page' | trans ({}, 'navigation') }}{% endblock %}

{% block body %}
<!-- jumbotron qui affiche un introduction de l historique et un lien vers la page history -->
<section>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">{{ ('welcome.intro.title' | trans) }}</h1>
            <p>{{ ('welcome.intro.data.paragraphe' | trans | nl2br) }}</p>
            <p>
                <a class="btn btn-primary btn-lg" href="{{ path('history') }}"
                    role=" button">{{ 'welcome.intro.rest_button' | trans }} &raquo;</a>
            </p>
        </div>
    </div>
</section>
<!-- ./jumbotron qui affiche un introduction de l historique et un lien vers la page history-->

<!-- section -->
<section class="py-5">
    <div class="row justify-content-center">

        <!-- menu tabs pour selectionner les evenements en cours ou a venir -->
        <div class="col-sm-8 pl-5">
            <h1 class="text-center">{{ 'welcome.calendar.title' | trans }}</h1>
            <br>

            <!-- tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab"
                        href="#current">{{ 'welcome.calendar.tab_current' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#toCome">{{ 'welcome.calendar.tab_next' | trans }}</a>
                </li>
            </ul>
            <!-- ./tabs -->

            <!-- zone pour afficher les evenements -->
            <div id="myTabContent" class="tab-content">

                <!-- affichage des evenements en cours -->
                <div class="tab-pane fade active show" id="current">
                    <div class="row">
                        {% if currentEvent %}
                        {% for event in currentEvent %}
                        {{ include('events/_event.html.twig') }}
                        {% endfor %}
                        {% else %}
                        <p>{{ ('welcome.calendar.empty-event') | trans }}</p>
                        {% endif %}
                    </div>
                </div>
                <!-- ./affichage des evenements en cours -->

                <!-- affichage des evenements a venir -->
                <div class="tab-pane fade" id="toCome">
                    <div class="row">
                        {% if nextEvent %}
                        {% for event in nextEvent %}
                        {{ include('events/_event.html.twig') }}
                        {% endfor %}
                        {% else %}
                        <p>{{ ('welcome.calendar.empty-event') | trans }}</p>
                        {% endif %}
                    </div>
                </div>
                <!-- ./affichage des evenements a venir -->

            </div>
            <!-- ./zone pour afficher les evenements -->

        </div>
        <!-- ./menu tabs pour afficher les evenements en cours & a venir -->

        <!-- affichage des widget -->
        <aside class="col-sm-2 offset-md-1">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Secondary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Success card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Danger card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Warning card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Info card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Light card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Dark card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
        </aside>
        <!-- ./affichage des widget -->
    </div>
</section>
<!-- ./section -->

{% endblock %}